* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #18191c;
}

.container {
  position: relative;
  height: 100vh;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 3rem 0rem 0rem;
  position: relative;
  z-index: 10;
}

.nav-content-link {
  border: 1px solid #00ffee;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: #f3fffe;
  /* padding: rem; */
}
.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.nav-link.burger {
  position: relative;
  z-index: 10;
}

.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 5;
}

.contain-mask-effect {
  display: flex;
  justify-content: space-between;
  position: inherit;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 5;
}

.contain-mask-effect.copy {
  --mask: radial-gradient(
    circle at var(--x, 15%) var(--y, 50%),
    black 4%,
    transparent 25%
  );
  background: #7f8189af;
  position: inherit;
  width: 100%;
  height: 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  opacity: 1;
  filter: brightness(1.5);
}

.span-color {
  color: #ff03a0;
}

.contain-action {
  padding: 10rem 0rem 0rem 6rem;
}

.contain-name {
  color: #f3fffe;
  font-size: 3rem;
}

.contain-button {
  padding-top: 3rem;
}

.contain-button button {
  border: none;
  border-radius: 25px;
  background: #00ffee;
  color: #18191c;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.contain-mask-effect.copy button {
  box-shadow: 2px 10px 30px 1px rgba(0, 255, 238, 0.1);
}

.contain-image {
  padding-top: 8rem;
}

.contain-image-fit {
  height: 100%;
}

.contain-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
